---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.jsx';
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import '@fontsource/anton';
import '@fontsource-variable/quicksand';
import '@fontsource-variable/outfit';
import DriverTour from '../components/DriverTour.astro';
---

<Layout title="ContigoBot">
  <Header
	texto1="Registrarse"
    link1="register"
    texto2="Inicio de Sesión"
    link2="signin"
    texto3="Términos y Condiciones"
    link3="/src/pages/Terms&Conditions.astro"
  />

<section class="body">
  <section class="sec0">
    <div class="background-image">
      <div class="text-container">
        <span class="highlight">Salud Mental</span> <h1 class="tit0">en Estudiantes Universitarios</h1>
        <p class="parrafo_sec0">
          La vida universitaria es una etapa emocionante pero también desafiante para muchos estudiantes. Entre las responsabilidades académicas, sociales y personales, 
          es común que los estudiantes enfrenten altos niveles de estrés, ansiedad y, en algunos casos, depresión. La presión para mantener un buen rendimiento académico, 
          cumplir con las expectativas sociales y manejar la independencia puede ser abrumadora.
          <br><br>
          Es crucial que los estudiantes reconozcan la importancia de cuidar su salud mental. La gestión del estrés, el equilibrio entre la vida académica y personal, 
          y la búsqueda de apoyo emocional son fundamentales para mantener un bienestar integral. Los recursos y herramientas disponibles, como ContigoBot, pueden ofrecer 
          ayuda y orientación en este camino, proporcionando estrategias útiles para enfrentar los desafíos diarios y mantener un equilibrio saludable.
        </p>
      </div>
    </div>
  </section>

  <section class="sec1">
	<h1 class="tit1">SOBRE CONTIGOBOT</h1>
	<div class="container">
	  <div class="row">
		<div class="col-md-4">
		  <div class="imagen-contenedor">
			<img src="chatbot.jpeg" alt="Chatbot ContigoBot" class="img_chatbot" />
			<p class="texto_imagen">
			  ContigoBot es un innovador chatbot diseñado específicamente para brindar apoyo emocional a estudiantes universitarios. 
			  Utiliza inteligencia artificial para proporcionar consejos y recursos que ayudan a gestionar el estrés y la ansiedad.
			</p>
		  </div>
		</div>
		<div class="col-md-4">
		  <div class="imagen-contenedor">
			<img src="estrés.jpeg" alt="Estrés Universitario" class="img_chatbot" />
			<p class="texto_imagen">
			  El estrés es común en la vida universitaria, pero ContigoBot está aquí para ayudarte a manejarlo. Ofrece estrategias y 
			  técnicas para afrontar la presión académica y personal.
			</p>
		  </div>
		</div>
		<div class="col-md-4">
		  <div class="imagen-contenedor">
			<img src="chat.jpeg" alt="Estudiante Conversando" class="img_chatbot" />
			<p class="texto_imagen">
			  A través de interacciones privadas y anónimas, los estudiantes pueden encontrar en ContigoBot un compañero digital 
			  que comprende sus desafíos y les brinda apoyo emocional y herramientas útiles.
			</p>
		  </div>
		</div>
	  </div>
	</div>
  </section>

  <section class="sec2">
    <h1 class="tit2">NUESTROS SERVICIOS</h1>
    <div class="container">
      <Card
        titulo="Inteligencia Artificial Integrada"
        info="Contigobot es como tener un compañero virtual que te escucha y comprende. Utiliza algoritmos avanzados para detectar patrones en tus pensamientos y emociones. Cuando te sientas ansioso o deprimido, Contigobot te proporcionará consejos personalizados basados en tus necesidades específicas."
        client:visible
      />
      <Card
        titulo="Conciencia sobre la Salud Mental"
        info="Contigobot está diseñado para fomentar la conciencia sobre la salud mental. Te recordará la importancia de cuidarte a ti mismo, de tomarte un descanso y de hablar con alguien cuando te sientas abrumado. Además, te proporcionará recursos útiles, como ejercicios de respiración y técnicas de relajación."
        client:visible
      />
      <Card
        titulo="Recursos de Autocuidado y Gestión de Estrés y Ansiedad"
        info="Consejos y métodos para manejar situaciones estresantes y de ansiedad, como: Mindfulness y Atención Plena, Técnicas de Respiración, Visualización Creativa, Recursos Personalizados y muchos métodos más."
        client:visible
      />
      <Card
        titulo="Apoyo Emocional Personalizado"
        info="Contigobot está disponible para brindarte apoyo en cualquier momento. Puedes compartir tus preocupaciones, logros y desafíos con él sin temor a ser juzgado. Además, recibirás palabras de aliento y orientación cuando más lo necesites."
        client:visible
      />
    </div>
  </section>

  <section class="sec3">
	<div class="container">
	  <div class="content-wrapper">
		<!-- Recursos Adicionales -->
		<div class="resources-section">
		  <h1 class="tit3">RECURSOS ADICIONALES</h1>
		  <p class="resource-description">
			En los siguientes enlaces, puedes acceder a recursos y organizaciones dedicadas a la salud mental en Chile. Estos recursos ofrecen información valiosa, apoyo y 
			herramientas para gestionar el estrés, la ansiedad y otros desafíos emocionales que podrías enfrentar. Te invitamos a explorar estos sitios para encontrar el apoyo que necesitas.
			Además, estos recursos te proporcionarán una variedad de enfoques y estrategias para mejorar tu bienestar emocional, desde técnicas de autocuidado hasta 
			servicios de asesoramiento profesional. Muchos de estos sitios ofrecen materiales educativos, guías prácticas y contactos directos con profesionales en salud mental.
		  </p>
		  <ul class="resource-list">
			<li><a href="https://uchile.cl/presentacion/centro-de-aprendizaje-campus-sur/Material-Autorregulacion-Emocional/reconocer-prevenir-y-afrontar-el-estres-academico" target="_blank">Autoregulación Emocional</a></li>
			<li><a href="https://concienciasaludable.uchile.cl/2023/10/22/que-es-y-como-manejar-la-ansiedad-academica/" target="_blank">¿Cómo manejar la ansiedad en la Universidad?</a></li>
			<li><a href="https://www.saludmentalchile.cl/" target="_blank">Salud Mental Chile - Información y Recursos</a></li>
		  </ul>
		</div>
  
		<!-- Preguntas Frecuentes -->
		<div class="faq-section">
		  <h1 class="tit4">PREGUNTAS FRECUENTES</h1>
		  <div class="faq-item">
			<h3>¿Cómo funciona ContigoBot?</h3>
			<p>ContigoBot utiliza inteligencia artificial para proporcionar apoyo emocional basado en tus interacciones y estado emocional. Está diseñado para ofrecer consejos y recursos personalizados.</p>
		  </div>
		  <div class="faq-item">
			<h3>¿Funciona ContigoBot como un psicólogo?</h3>
			<p>No, ContigoBot no funciona como un psicólogo profesional. Es una herramienta de apoyo emocional diseñada para escucharte y ayudarte a gestionar 
				tus emociones. No está capacitado para diagnosticar ni tratar enfermedades mentales. Si necesitas un profesional, te recomendamos buscar la ayuda de un 
				psicólogo o terapeuta calificado.</p>
		  </div>
		  <div class="faq-item">
			<h3>¿Es confidencial el uso de ContigoBot?</h3>
			<p>Sí, todas las interacciones con ContigoBot son privadas y anónimas. Tu privacidad es nuestra prioridad. ContigoBot está diseñado para asegurar que tus conversaciones y datos sean tratados con la máxima confidencialidad.</p>
		  </div>
		</div>
	  </div>
	</div>
  </section>
</section>

  <DriverTour />

  <Footer />
	
  <style>

	/* ESTILOS SECCION 0 */
    .sec0 {
      position: relative;
      width: 100%;
      height: 400px; /* Ajusta la altura según sea necesario */
      margin-bottom: 20px;
    }

    .sec0 .background-image {
      background-image: url('saludmental1.png'); /* Reemplaza con la ruta de tu imagen */
      background-size: cover; /* Asegura que la imagen cubra toda la sección */
      background-position: center; /* Centra la imagen */
      background-repeat: no-repeat; /* Evita que la imagen se repita */
      width: 1903px;
      height: 764px;
      display: flex;
      justify-content: flex-end; /* Alinea el contenido al borde derecho de la sección */
      align-items: center; /* Centra el contenido verticalmente */
	  padding-bottom: 15px;
	  position: relative;
	  margin-bottom: 10px;
    }

    .sec0 .text-container {
      padding: 20px;
      border-radius: 8px;
      max-width: 40%; /* Ajusta el ancho del contenedor de texto según sea necesario */
      color: #ffffff; /* Color del texto para que sea visible sobre el fondo */
      margin-right: 20px; /* Espacio a la derecha del contenedor de texto */
    }

    .sec0 .tit0 {
      font-size: 50px;
      font-weight: bold;
      margin-bottom: 20px;
	  font-family: 'Quicksand Variable', sans-serif;
    }
	.sec0 .highlight {
    font-size: 80px; /* Tamaño más grande para "Salud Mental" */
    font-family: 'Anton', sans-serif;; /* Fuente diferente para "Salud Mental" */
  }

    .sec0 .parrafo_sec0 {
      font-size: 20px;
      line-height: 1.6;
	  font-family: 'Outfit Variable', sans-serif;
	  text-align: justify;
    }

	/* ESTILOS SECCION 1 */
	.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	}
    .sec1 {
      padding: 100px;
	  margin-top: 300px;
    }

    .sec1 .img_chatbot {
      width: 100%;
      max-width: 500px;
      border-radius: 20px;
    }

	.texto_imagen {
    text-align: justify;
    font-size: 16px;
    color: #000000;
    margin-top: 10px;
	font-family: 'Outfit Variable', sans-serif;
  }
    .tit1 {
      font-size: 34px;
      font-weight: bold;
      margin-bottom: 20px;
      padding: 10px;
      text-align: center;
	  font-family: 'Quicksand Variable', sans-serif;
    }

    /* ESTILOS SECCION 2 */
    .sec2 {
      padding: 50px 20px;
      background-image: url('/fondo.jpeg') no-repeat center center fixed;
	  margin-top: -100px;
    }

    .tit2 {
      font-size: 34px;
      font-weight: bold;
      margin-bottom: 20px;
      text-align: center;
	  font-family: 'Quicksand Variable', sans-serif;
    }

    .container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
    }

    /* ESTILOS SECCION 3 Y 4 */
	.sec3, .sec4 {
		padding: 50px 20px;
	}
	
	.container {
		max-width: 1200px;
		margin: 0 auto;
	}
	.content-wrapper {
		display: flex;
		justify-content: space-between;
		gap: 20px;
	}
	.resources-section, .faq-section {
		flex: 1;
	}
	.resources-section {
		margin-right: 20px;
	}
	.faq-section {
		margin-left: 20px;
	}
	.tit3, .tit4 {
		font-size: 34px;
		font-weight: bold;
		margin-bottom: 30px;
		text-align: center;
		font-family: 'Quicksand Variable', sans-serif;
	}
	.resource-description {
		margin-bottom: 20px;
		text-align: justify;
		font-size: 18px;
		color: #495057;
		font-family: 'Outfit Variable', sans-serif;
	}
	.resource-list {
		list-style: none;
		padding: 0;
		text-align: center;
	}
	.resource-list li {
		margin-bottom: 10px;
	}
	.resource-list a {
		color: #a200ff;
		text-decoration: none;
		font-family: 'Outfit Variable', sans-serif;
	}
	.resource-list a:hover {
		text-decoration: underline;
	}
	.faq-item {
		margin-bottom: 20px;
	}
	.faq-item h3 {
		font-size: 22px;
		margin-bottom: 10px;
		font-family: 'Quicksand Variable', sans-serif;
		font-weight: bold;
	}
	.faq-item p {
		font-size: 16px;
		color: #495057;
		text-align: justify;
		font-family: 'Outfit Variable', sans-serif;
	}

	/* ESTILOS SECCION BODY */
	body {
      background: url('/fondo.jpeg') no-repeat center center fixed;
      background-size: cover;
    }

  </style>
</Layout
